{% extends "base/base.html" %}
{% load static %}

{% block content %}

    <section class="page-add" style="margin-bottom:0px">
        <div class="container">
            <h2 style="font-family: yekan;text-align: right">

کالاهای  من
<hr style="border: solid 2px #006466;">

</h2>
                <hr>
        </div>
    </section> 
{% if products %}
<div class="container mt-6 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="d-flex flex-column col-md-12">

            <div class="coment-bottom bg-white p-2 px-4">

                {% for x in products.all %}
                     <div class="commented-section mt-2">
                    <div >
                        <a href="{% url 'product-details' shop.slug x.pk %}">
                                <h3 class="mr-2" style="font-family: vazir;font-size: 16px;text-align: right;">
                                    {{ x.name }} 
                                </h3>
                        </a>
            
                    </div>

                      <div class="container">
                             <form method="POST">
                    {% csrf_token %}
            
                                 <br>
            
                          <div class="form-group" style="text-align:left">
                              <button class="btn btn-outline-success" type="submit"  style="font-family: yekan;font-size: 16px" name="add" value={{ x.pk }}>
                                اضافه کردن موجودی 
                                
                              </button>
            
                              <button class="btn btn-outline-warning" type="submit"  style="font-family: yekan;font-size: 16px" name="update" value={{ x.pk }}>
                                تغییر این محصول
            
                              </button>
                              <button class="btn btn-outline-danger" type="submit"  style="font-family: yekan;font-size: 16px" name="delete" value={{ x.pk }}>
                                حذف این محصول
            
                              </button>
                        </div>
                          </form>
            
                      </div>
        


                </div>
                    <hr>
            {% endfor %}



            </div>
        </div>
    </div>
</div>
{% endif %}      
       
{% endblock %}